body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, lightgrey, lightblue);
}

#itemscontainer {
    align-items: center;
    width: 60%;
}

ul {
    width: 50%;
    padding: 2rem;
    list-style-type: none;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    padding: 2rem;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    background: white;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
}

#input {
    margin: 3rem;
    padding: 0.5rem;
}

span {
    justify-content: left;
    margin: 1rem;
    padding: 1rem;
}

button {
    justify-content: right;
}

.btn--tick {
    margin: 0rem, 0rem, 0rem, 3rem;
}

.p--linethrough {
    text-decoration: line-through;
}

/* Show green borders when valid */
input[data-state="valid"] {
    border-color: hsl(120, 76%, 50%);
  }
  
  /* Show red borders when filled, but invalid */
input[data-state="invalid"] {
    border-color: hsl(0, 76%, 50%);;
  }
