body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, lightgrey, lightblue);
}

#itemscontainer {
    width: 50%;
}
ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    justify-content: space-between;
    margin-bottom: 1rem;
    background: white;
    border-style:solid;
    border-color: black;
    border-radius: 15px;
}

#input {
    margin: 3rem;
    padding: 0.5rem;
}

p {
    padding: 1rem;
}

.btn--tick {
    margin-left: 7rem;
}

.p--linethrough {
    text-decoration: line-through;
}

/* Show green borders when valid */
input[data-state="valid"] {
    border-color: hsl(120, 76%, 50%);
  }
  
  /* Show red borders when filled, but invalid */
input[data-state="invalid"] {
    border-color: hsl(0, 76%, 50%);;
  }
